<DOCTYPE! html>
<body>
  <img src="/images/cornucopia-fruits-veggies-1024x589.jpg" alt="HTML5 Icon" style="width:400px;height:230px;">
  <h1>Welcome to the Food Bank!</h1>
  <div>Users can request food with this app.</div>
  <h4>Please sign up or log in to access your account.</h4>
  <a href="/users/signup">Sign Up</a><br>
  <a href="/sessions/login">Log In</a>

</body>

</html>
